body{
    background: url("../img/WallPicture.jpg") no-repeat top right;
}
thead tr th {
    text-align: center;
}
.panel {
    display: none;
}
.chengyuContainer h1{
    position: absolute;
    top:200px;
    right:500px;
    font-size:6em;
}

.questionContainer span {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 900px;
    font-size: 50px;
}

.answerContainer span {
    position: absolute;
    top: 400px;
    width: 300px;
    font-size: 40px;
    color: red;
}

red {
    color: red;
}

.nav{
    position: absolute;
    left:-40px;
    top:100px;
}
.nav li{
    width:50px;
    border:1px solid black;
    font-size:22px;
    text-align: center;
    -webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    border-radius:0 10px 10px 0;
    height:169px;
    padding:12px 12px;

}
.nav li:hover{
    background-color: #5bc0de;
    cursor: pointer;
    color: #ffffff;
}
.notChosen{
    background-color: lightgray;
}
.chosen{
    background-color: #5bc0de;
    color: #ffffff;
}
.table-title{
    text-align: center;
    font-weight:bold;
    font-size:30px;
}
tbody img{
    height:30px;
    float: right;
}
.countdown{
    /*text-align: center;*/
    margin-top:35px;
}
.countDown{
    margin:auto;
    font-weight:bold;
    font-size:100px;
    /*text-align: center;*/
    height:532px;
    padding-top: 150px;
    left: 10px;
}
.countDownFinish{
    margin: auto;
    font-weight: bold;
    /*text-align: center;*/
    font-size: 100px;
    height: 532px;
    padding-top: 150px;
    left: 10px;
}
.entrance{
    padding:130px 67px;
    text-align: center;
    font-size:30px;
}
.questionEntryContainer{
    height:140px;
    padding:40px 40px;
}
.questionEntry{
    padding:20px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:  1px 1px 16px grey;
    -moz-box-shadow:  1px 1px 16px grey;
    box-shadow:  1px 1px 16px grey;
    cursor: pointer;
}

.mark-low {
    background-color: #64df10;
}
.mark-middle {
    background-color: #ff752a
}

.mark-high {
    background-color: orangered;
}

.questionEntryDisable{
    background-color: grey;
    padding:20px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:  1px 1px 16px grey;
    -moz-box-shadow:  1px 1px 16px grey;
    box-shadow:  1px 1px 16px grey;
    cursor: pointer;
}
.back{
    position: absolute;
    bottom: 163px;
    right: 200px;
}
.answer{
    margin: auto;
    float: right;
    padding-top: 50px;
    padding-right: 300px;
    font-size: 30px;
    color: red;
    display: none;
}
.questionBody{
    text-align: left;
    font-size: 40px;
    margin: auto;
    padding-top: 190px;
    width: 1040px;
    padding-left: 300px;
}
.showAnswerBtn{
    margin-right: 291px;
    margin-top: 50px;
    float: right;
}